@{
    ViewData["Title"] = "Aboutus";
}

<h2>"Meet The Team Group 9"</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <img src="~/images/Haritha.jpg" alt="Haritha" height="280" width="200" /><br />
        <div class="container">
            <h2>Haritha T</h2>
            <p class="title">Web developer</p>
            <p>I was involved in building web pages.</p>
            <p>hthiagukumar@mail.usf.edu</p>

        </div>
    </div>


    <div class="col-md-4">
        <img src="~/images/arpit.jpg" alt="Arpit" height="280" width="200" /><br />
        <div class="container">
            <h2>Arpit Gupta</h2>
            <p class="title">Art Director</p>
            <p>Idea behind the project.</p>
            <p>arpitgupta@mail.usf.edu</p>

        </div>
    </div>

    <div class="col-md-4">
        <img src="~/images/Vignesh.jpg" alt="Vignesh" height="280" width="200" /><br />
        <div class="container">
            <h2>Vignesh Kannan</h2>
            <p class="title">Art Director</p>
            <p>Idea behind the project.</</p>
            <p>VigneshKannan@mail.usf.edu</p>

        </div>
    </div>

</div>