@{
    ViewData["Title"] = "Homepage";
}

<h2>Our scope</h2>
<hr />

<div>
    <p>
        Our project uses API from Animal & Veterinary Adverse Events
        The "Animal & Veterinary Adverse Events" includes data that have been reported by veterinarians and animal owners of
        adverse drug experiences and product defects associated with animal drugs or animal devices.
    </p>
    <p>

        We specificaly have taken the Cats data into our project and analysed.
    </p>
    <p>
        1)what drugs are effecting the cats.
    </p>
    <p>
        2)What kind of problems the cats are affected by and
    </p>
    <p>
        3)The different kinds of cat breeds.

    </p>


</div>